<h2> Focus on <%=@land.description %> :</h2>


<ul>
  <li>Surface : <%= @land.surface %> square meters</li>
  <li>Price : <%= @land.price %> € per night</li>
</ul>


<%= link_to "Back to the list", lands_path %>
