
<!--  style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.phototeam-nature.com/wp-content/uploads/2015/04/COUV-Islande-85-6.jpg');"> -->
<div class="banner">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "event.jpeg" %>
        <div class="carousel-caption">
         <h1>AirLnP</h1>
         <h4>Trouver votre terrain pour un evenement</h4>
         <div class="banner-content">
          <a href="/lands" class="btn-treehouse btn-sm">Trouver un terrain !</a>
          <a href="lands/new" class="btn-treehouse btn-sm"">Louer votre terrain </a>
        </div>
      </div>
    </div>
    <div class="item">
     <%= image_tag "potager.jpg" %>
     <div class="carousel-caption">
       <h1>AirLnP</h1>
       <h4>Trouver votre terrain pour faire un potager</h4>
       <div class="banner-content">
        <a href="/lands" class="btn-treehouse btn-sm">Trouver un terrain !</a>
        <a href="lands/new" class="btn-treehouse btn-sm"">Louer votre terrain </a>
      </div>
    </div>
  </div>
  <div class="item">
   <%= image_tag "tente.jpeg" %>
   <div class="carousel-caption">
     <h1>AirLnP</h1>
     <h4>Trouver votre terrain pour camper</h4>
     <div class="banner-content">
      <a href="/lands" class="btn-treehouse btn-sm">Trouver un terrain !</a>
      <a href="lands/new" class="btn-treehouse btn-sm"">Louer votre terrain </a>
    </div>
  </div>
</div>

</div>
<!-- </div> -->
   <!--  <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <p>Trouver votre terrain pour un potager, un evenement, un stantionnement ou bien camper!</p>
    --> <!-- </div> -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Précédent</span>
    </a>

    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Suivant</span>
    </a>



  </div>
</div>
</div>


