<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.phototeam-nature.com/wp-content/uploads/2015/04/COUV-Islande-85-6.jpg');">
  <div class="banner-content">
    <h1>AirLnP</h1>

    <div></div>

    <br>

   <div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <p>Trouver votre terrain pour un potager, un evenement, un stantionnement ou bien camper!</p>
    </div>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <a href="/lands" class="btn-treehouse"> Let's go?</a>
    </div>
  </div>
</div>
