<div class="container">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="footer">
      <div class="footer-links">
        <a href="https://github.com/"><i class="fa fa-github"></i></a>
        <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
        <a href="https://fr-fr.facebook.com/"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
        <a href="https://fr.linkedin.com"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Ce site respecte les  <i class="fa fa-tree"></i>
      </div>
    </div>
  </div>
</div>
