<%=  simple_form_for [@land, @booking] do |f| %>

  <label class="date optional" for="booking_start_date">Start date</label>
  <input type="date" id="booking_start_date" name="booking[start_date]">
  <label class="date optional" for="booking_end_date">End date</label>
  <input type="date" id="booking_end_date" name="booking[end_date]">
  <%= f.submit %>
<% end %>
