<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<html>
  <head>
    <link rel="stylesheets" href="avatar.scss">

  </head>
  <body>

  <%= render 'partials/banner' %>

    <div class="text-center">
      <h2>Just for the weekend</h2>
      <p>Discover new, inspiring places close to home.</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <!-- insert <div class="card"> -->
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-description">
                <h2>Stationnement</h2>
                <p>Very cool city, the best</p>
              </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <!-- insert <div class="card"> -->
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-description">
                <h2>Evenement</h2>
                <p>Very cool city, the best</p>
              </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <!-- insert <div class="card"> -->
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-description">
                <h2>Jardinage</h2>
                <p>Very cool city, the best</p>
              </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <!-- insert <div class="card"> -->
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-description">
                <h2>Stockage</h2>
                <p>Very cool city, the best</p>
              </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
            </div>
        </div>
      </div>
    </div>

  </body>
</html>
