<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<html>
  <head>
    <link rel="stylesheets" href="avatar.scss">

  </head>
  <body>

  <%= render 'partials/banner' %>
<br>

<!--     <div class="text-center">
      <h2>Pour une journée ou une saison</h2>
      <p>Trouver votre terrain pour un potager, un evenement, un stantionnement ou bien camper! </p>
    </div> -->


  </body>
</html>
