.view-show {
 color: green;
 box-align: center;
 display: box;

}

.bouton {
  text-align: center;
}

.main-container {
  display: flex;
}


.review-container {

  flex: auto;
  top: 0 !important;
  width: 80vh !important;
}


.mapandbtn {
  padding-left: 30px;
  margin:10px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  // margin-left: 20px;
  min-width: 50vw;
}


.bouton-show {
  margin-top: 30px;
}
