.view-show {
 color: green;
 box-align: center;
 display: box;

}

.bouton {
  text-align: center;
}

.main-container {
  display: flex;
}


.review-container {
  float :right;
  flex: auto;
  top: 0 !important;
  width: 60vh !important;
}


.mapandbtn {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  // margin-left: 20px;
  min-width: 50vw;
}

.card-show {

      flex: 1 1 auto;
      margin: 10px;
      border-radius: 1px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;
      width: 600px;

}

