

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 ">
      <%= simple_form_for [@booking, @review] do |f| %>

      <%= f.input :content, as: :text, placeholder: 'Your comment', input_html:{class:'my_input'}%>
      <%= f.input :rating, as: :integer, placeholder: '0-5', input_html:{class:'my_input'}%>
      <%= f.button :button, "Add a review", type: :submit, class: :'btn btn-treehouse btn-sm' %>
      <% end %>
    </div>
  </div>
</div>


